*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 225px;
    padding-top:3px;
 
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#fff;
    color: rgba(218, 66, 144, 0.75);
}
.brand-title{
    font-size: 1.5rem;
    margin: .5rem;
    padding-right: 972px;
    font-family:  Arial, Helvetica, sans-serif;
}
.navbar-links ul{
    margin-left: -408px;
    padding: 0;
    display: flex;
}
.navbar-links li{
    list-style: none;
}
.navbar-links li a{
    text-decoration: none;
    color: rgba(189, 18, 106, 0.75);
    padding: 1rem;
    display: block;
    font-family:  Arial, Helvetica, sans-serif;
}
.navbar-links li:hover{
    background-color: #555;
}
.header_main_content_h1{
    font-size: 32px;
    padding-right: 30px;
    text-align: center;
    font-family:  Arial, Helvetica, sans-serif;
    color: rgba(200, 32, 135, 0.75);

}
.header_main_content_h6{
    font-size: 13px;
    text-align: center;
    font-weight: lighter;
    color: black;
    font-family:  Arial, Helvetica, sans-serif;
}
.header_main_content_h2{
    font-size: 20px;
    text-align: left;
    font-weight: lighter;
    color: rgba(218, 66, 144, 0.75);
    font-family:  Arial, Helvetica, sans-serif;
}

.header_main_content_p{
    font-size: 16px;
    text-align: justify;
    margin-top: 10px;
    width: 80%;
   

} 
.cta:hover{
    opacity: 0.6;
    
}
.header_main_img img{
    margin-left: 83px;
margin-top: -171px;
width: 281px;
height: 187px;
float: right;
margin-right: 282;
}


.header_main_content_h3{
font-size: 20px;
text-align: center;
font-weight: bold;
padding-left: 23px;
color: rgba(200, 32, 135, 0.75);
padding-top: 39px;
font-family:  Arial, Helvetica, sans-serif;
}
.header_main_content_h4{
    text-align: center;
    font-weight: lighter;
    margin-left: 153px;
    font-family:  Arial, Helvetica, sans-serif;
}

.inner-layer{
    position: inherit;
width: 99%;
height: 50%;
background-color: #ee88d442;
overflow: auto;
margin-left: 7px;
}
 .header_main_content_h5{
   margin-left: 16px;
   text-align: center;
   font-family:  Arial, Helvetica, sans-serif;
   font-weight: lighter;
}
.form-data{
    margin-top: 15%;
    background-color: #fff;
}
.form-body{
    padding: 30px;

}
.form-head{
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.form-head h2{
    font-size:22px;
    font-weight:600;
}
.no-margin{
    margin: 0px;
}

.row-form-row{
    padding-left: 68px;
}
.col-sm-7{
    text-align: center;
    font-family:  Arial, Helvetica, sans-serif;
}
.col-sm-20{
    text-align: center;
    font-family:  Arial, Helvetica, sans-serif;
}
.form-control{
    background-color: pink;


}
.input.form-control{
    background-color: pink;
}


.btn-appointment{
    background-color: #ce4c7d !important;
    border-color: #c246c6 !important;
    width:100%; 
}
@media screen and (max-width:976px){

}
    
